.Button {
    color: inherit;
    border: 0;
    cursor: pointer;
    margin: 0;
    display: inline-flex;
    outline: 0;
    padding: 0;
    position: relative;
    align-items: center;
    user-select: none;
    border-radius: 0;
    vertical-align: middle;
    -moz-appearance: none;
    justify-content: center;
    text-decoration: none;
    background-color: transparent;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
}

.Float_Right{
    float: right;
}

.Float_Left{
    float: left;
}

.Root {
    color: rgba(0, 0, 0, 0.87);
    padding: 6px 16px;
    font-size: 0.875rem;
    min-width: 64px;
    box-sizing: border-box;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
                box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
                border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 500;
    line-height: 1.75;
    border-radius: 4px;
    letter-spacing: 0.02857em;
    text-transform: uppercase;
}

.Button label {
    width: 100%;
    display: inherit;
    align-items: inherit;
    justify-content: inherit;
}


/* type contained */
.Contained {
    color: rgba(0, 0, 0, 0.87);
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
    background-color: #e0e0e0;
}

.Contained:hover {
    box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%), 0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
}

.Contained.Primary {
    color: #fff;
    background-color: #00acc1;
}

.Contained.Primary:hover  {
    background-color: #1d8996;
}


/* type outlined */
.Outlined {
    border: 1px solid rgba(0, 0, 0, 0.23);
    padding: 5px 15px;
}

.Outlined.Primary {
    color: #1976d2;
    border: 1px solid #00acc1;
}

.Outlined.Primary:hover{
    border: 1px solid #1d8996;
    background-color: rgba(25, 118, 210, 0.04);
}